body {
    text-align: center;
    margin: 30%;
}

div {
    background-color: pink;
    padding: 20px;
    border-radius: 20px;
    border-color: salmon;
    border-style: solid;
    border-width: 5px;
}

hr {
    background-color: salmon;
    border-style: none;
    height: 10px;
    border-radius: 100px;
    
}